/* General styles */
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.board-container {
  display: flex;
  gap: 36px;
}

.heading {
  font-size: 2.5rem;
}

.real-board,
.computer-board {
  display: grid;
  grid-template-columns: repeat(10, 40px); /* Adjust cell size as needed */
  grid-template-rows: repeat(10, 40px); /* Adjust cell size as needed */
  gap: 2px; /* Space between cells */
  border: 1px solid #000;
  background-color: #fff;
}

.board-cell {
  width: 38px; /* Cell width */
  height: 38px; /* Cell height */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  border: 1px solid #acaaaa;
}

.cell-occupied {
  background-color: #4caf50; /* Occupied cell color */
}

.cell-hit {
  background-color: #e44d4d; /* Occupied cell color */
}

.cell-miss {
  background-color: #5994e2; /* Occupied cell color */
}

.computer-board .board-cell.cell-occupied {
  background-color: #ddd;
}

/* Button container styles */
button {
  margin: 10px; /* Space between buttons */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Center buttons below boards */
.buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Slightly grayed-out background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's on top of everything */
}

/* Modal content */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.modal button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.modal button:hover {
  background-color: #0056b3;
}
